<div class="panel panel-primary">
    <div class="panel-heading">Login Page</div>
    <div class="panel-body " style="align-items:center">
        <div class="row">
            <label>User Name</label>
            <input id="txtusername" type="text" ng-model="login.User_Name" />
        </div>
        <div class="row">
            <label>User Password</label>
            <input id="txtpassword" type="password" ng-model="login.User_Password" />
            <button class="btn btn-primary" ng-click="Login(login)"><i class="glyphicon glyphicon-file"></i> Login</button>
        </div>     
    </div>
    <div class="panel-body">
        <a href="#/ForgotPassword" class="btn btn-success">Forgot Password</a>
        </div>
</div>